//--Mixins--//

@mixin common-flex-display($display, $justify, $direction) {
  display: $display;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin common-grid-display($display, $gap, $columns) {
  display: $display;
  grid-gap: $gap;
  grid-template-columns: $columns;
}

@mixin grid-settings($columns, $rows) {
  grid-column: $columns;
  grid-row: $rows;
}

@mixin button-background($color, $repeat, $position, $width) {
  background-color: $color;
  background-repeat: $repeat;
  background-position: $position;
  width: $width;
}

@mixin font-appearance($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin text-appearance($size, $text) {
  font-size: $size;
  text-align: $text;
}

@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin layout($bgcolor, $border) {
  background-color: $bgcolor;
  border: $border;
}

@mixin card-layout($bgcolor, $bottom) {
  background-color: $bgcolor;
  border-bottom: $bottom;
}
