@import 'variables';

html {
  background-color: #37515C;
  border: $main-border;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

//--Home page view--//
.main-header {
  background-color: $primary-background-color;
  border: $main-border;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

nav {
  display: flex;
  padding: 10px;
}

.navButton {
  background-color: $primary-background-color;
  color: #000 !important;
  border-left: $box-border;
  border-right: $box-border;
  font-size: 130%;
  margin: 1%;
  margin-right: 20px;
}

.lower-header {
  display: flex;
  justify-content: space-between;
}

.greeting {
  color: $primary-background-color;
  padding-left: 15px;
  margin-top: 10px;
  font-size: 30px;
}

.search-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.search-bar {
  max-height: 6vh;
  margin: 5px;
  padding: 3px;
}

.search-image {
  background-color: $primary-background-color;
  border: $box-border;
  width: 20%;
  margin-right: 0;
}

.search-input {
  border: $box-border;
  font-size: 100%;
  min-width: 90%;
}

//nest in respective classes
.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: #cff2da;
}

//nest
.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: #C3C2C6;
}

.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

.hidden {
  display: none;
}

img {
  cursor: pointer;
}

.card-button {
  border: $box-border;
  height: 27px;
  margin: 3px;
  cursor: pointer;
}

.add-button {
  background-color: $primary-background-color;
  display: flex;
  width: 12%;
}

.add {
  width: 90%;
}

.favorite {
  background-color: $primary-background-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.card {
  background-color: #D7F2FE;
  border: 3px solid #000;
  width: 100%;
}

.card-header {
  background-color: $primary-background-color;
  border-bottom: $box-border;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $primary-background-color;
  font-size: 150%;
  width: 100%;
}

h3 {
  font-size: 150%;
  margin: 0;
  background-color: $primary-background-color;
  border-bottom: $box-border;
  text-align: center;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.recipe-name {
  background-color: $primary-background-color;
  border-bottom: $box-border;
  display: flex;
  justify-content: center;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: $main-border;
}

.card-picture {
  border: $box-border;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

main {
  background-color: #37515C;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.display-recipe {
  display: grid;
  grid-gap: 7px;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: .6fr 1fr;
  margin: 15px;
}

.display-recipe-info {
  grid-column: 1;
  grid-row: 1 / 2;
  height: 40vh;
}

.recipe-ingredients {
  justify-self: center;
  grid-column: 2;
  grid-row: 1 / 2;
  overflow: hidden;
  max-height: auto;
  font-size: 15px;
  color: $primary-background-color;
}

.recipe-ingredients-title {
  margin-top: 0;
  font-size: 20px;
}

.recipe-instructions {
  grid-column: 1/span 2;
  grid-row: 2;
  max-width: 90vw;
  font-size: 20px;
  color: $primary-background-color;
  margin-top: 100px;
}

//--To Cook View--//
.to-cook-greeting {
  color: $primary-background-color;
}
.close-button {
  background-color: $primary-background-color;
  background-image: url(https://www.flaticon.com/svg/static/icons/svg/446/446091.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
  font-weight: bold;
}

label {
  margin-left: 10px;
}

.needed-ings,
.ing-cost {
  margin-left: 10px;
}
