@import 'variables';
@import 'mixins';

html {
  @include layout(#37515C, $main-border);
  height: 100vh;
  width: 100vw;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

//--Home page view--//
main {
  background-color: #37515C;
  @include dimensions(100%, 100%);
  display: flex;
  justify-content: center;
}

.main-header {
  @include common-flex-display(flex, space-between, row);
  @include dimensions(auto, 100%);
  @include layout($primary-background-color, $main-border);
}

h1 {
  @include text-appearance(255%, center);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  width: 30%;
}

nav {
  display: flex;
  padding: 10px;
}

.navButton {
  @include font-appearance(130%, #000 !important);
  background-color: $primary-background-color;
  border-left: $box-border;
  border-right: $box-border;
  margin: 1%;
  margin-right: 20px;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-active-color;
  }
}

.lower-header {
  @include common-flex-display(flex, space-between, row);
}

.greeting {
  @include font-appearance(30px, $primary-background-color);
  padding-left: 15px;
  margin-top: 10px;
}

.search-area {
  @include common-flex-display(flex, flex-end, row);
}

.search-bar {
  max-height: 6vh;
  margin: 5px;
  padding: 3px;
}

.search-image {
  @include layout($primary-background-color, $box-border);
  width: 20%;
  margin-right: 0;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-active-color;
  }
}

.search-input {
  border: $box-border;
  font-size: 100%;
  min-width: 90%;
}

.all-cards {
  @include common-grid-display(grid, 30px, repeat(4, 1fr));
  padding: 30px 30px 30px 30px;
  width: 95.5vw;
}

.hidden {
  display: none;
}

img {
  cursor: pointer;
}

.card-button {
  border: $box-border;
  height: 27px;
  margin: 3px;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-active-color;
  }
}

.add-button {
  background-color: $primary-background-color;
  display: flex;
  width: 12%;
}

.add {
  width: 90%;
}

.favorite {
  @include button-background($primary-background-color, no-repeat, center, 13%);
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
}

.card {
  @include layout(#D7F2FE, 3px solid #000);
  width: 100%;
}

.card-header {
  @include card-layout($primary-background-color, $box-border)
  @include common-flex-display(flex, space-between, row);
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  @include font-appearance(150%, $primary-background-color);
  width: 100%;
}

h3 {
  @include text-appearance(150%, center);
  @include card-layout($primary-background-color, $box-border)
  margin: 0;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.recipe-name {
  @include card-layout($primary-background-color, $box-border)
  @include common-flex-display(flex, center, row);
  @include text-appearance(150%, center);
}

.card-picture {
  @include dimensions(200px, 94%);
  border: $box-border;
  margin: 10px 3% 8px 2.6%;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    border: $main-border;
  }
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

//--Single Recipe Display--//

.display-recipe {
  @include common-grid-display(grid, 7px, .6fr 1fr);
  grid-template-rows: 1fr 3fr;
  margin: 15px;
}

.display-recipe-info {
  @include grid-settings(1, 1 / 2);
}

.recipe-ingredients {
  justify-self: center;
  @include grid-settings(2, 1);
  overflow: scroll;
  height: inherit;
  @include font-appearance(15px, $primary-background-color);
}

.recipe-ingredients-title {
  margin-top: 0;
  font-size: 20px;
}

.recipe-instructions {
  @include grid-settings(1/span 2, 2);
  @include font-appearance(20px, $primary-background-color);
  max-width: 90vw;
  margin-top: 100px;
}

//--To Cook View--//
.to-cook-greeting {
  color: $primary-background-color;
}

.close-button {
  @include button-background($primary-background-color, no-repeat, center, 13%);
  background-image: url(https://www.flaticon.com/svg/static/icons/svg/446/446091.svg);
  font-weight: bold;
}

.pantry-buttons, .needed-ings, .ing-cost, {
  margin-left: 10px;
}

@media(max-width: 825px) {
  main {
    width: 95%;
  }

  .all-cards {
    @include common-grid-display(grid, 30px, repeat(3, 1fr));
    padding: 30px 0 30px 30px;
    width: 95.5vw;
  }

  .display-recipe {
    @include common-flex-display(flex, space-around, column)
    align-items: center;
  }

  .recipe-instructions {
    margin-top: 0;
  }
}

@media(max-width: 600px) {
  .all-cards {
    @include common-grid-display(grid, 30px, repeat(2, 1fr));
    padding: 30px 0 30px 30px;
    width: 95.5vw;
  }

  .display-recipe {
    @include common-flex-display(flex, center, column)
    align-items: center;
  }

  .search-image {
    display: none;
  }
}

@media(max-width: 450px) {
  .main-header,
  .lower-header {
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    min-width: 80vw;
  }

  .all-cards {
    @include common-grid-display(grid, 30px, repeat(1, 1fr));
    padding: 30px 0 30px 30px;
    width: 95.5vw;
  }

  .card-button {
    height: auto;
  }

  .to-cook {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 95%;
  }